.card:hover img{
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    filter: brightness(1.2);
}

.card
{
    box-shadow: -2px -1px 69px -5px rgba(237,63,63,1);
    margin-top: 40%;
}

.card img{
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    margin-top:0px;
   
}

.card-img-wrapper{
    overflow: hidden;
    margin-top:0px;
}
*{
    margin-top: 3%;
}

.member-icons
{
    position: absolute;
    bottom:18%;
    left:0;
    right:0;
    margin-right: auto;
    margin-left: auto;
    opacity:0;
}

.card-img-wrapper:hover .member-icons
{
    bottom:18%;
    opacity:1;
}


.animate
{
    transition: all 0.3s ease-in-out;
}