.avoid
{
    filter: saturate(0.5); 
    opacity: 0.3; 
    margin: 0;
    width: 100%;
    z-index: -1;
    position: relative;
}

.alone{font-size: 20px;}
.alone:hover
{
    text-decoration:underline;
}

.dont
{
    font-size: 45px;
    margin: 4px;
    z-index: 0;
    text-align: center;
    position:absolute;
    bottom: 20px;
    right: 25%;
    left:25%;
}


  .rainbow-text {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: conic-gradient(
        rgb(119, 41, 83)	 16.666%, 
        rgba(119, 41, 83, 0.619)16.666%, 
      #696969 33.333%, 
      #585858 33.333%, 
      #404040 50%, 
      #303030 50%, 
      #202020 66.666%, 
      #181818 66.666%, 
      #101010 83.333%, 
      black 83.333%);
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 3.5s ease forwards;
    letter-spacing: 1px;
  }
  
  /* Add animation on hover. */
  .rainbow-text:hover {
    animation: rainbow-text-animation 3.5s ease-in-out;
  }
  
  

  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
    }
    100% {
      background-size: 57%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }