.dropdowm-toggle,
.dropdown-item {
    cursor: pointer;
}

.navbar-brand
{
    font-family:cursive;
    font-size: large;
    transition: 0.5s;
}

.navbar-brand:hover
{
    font-family:cursive;
   font-size: larger;
   color:rgb(244, 174, 186);
   transition: 0.5s;
}
.fa-fire-extinguisher
{
    color: rgb(244, 174, 186);
    font-size:x-large;
}