.dropdowm-toggle,
.dropdown-item {
    cursor: pointer;
}

.navbar-brand, .nav-link
{
    transition: 1.5s;
}
 
.navbar-brand:hover
{
   color:rgb(244, 174, 186);
   transition: 1.5s;
}
.fa-fire-extinguisher
{
    color: rgb(244, 174, 186);
    font-size:x-large;
}

.navbar
{
    background-color: blue;
    padding: 0;
}

.container
{
    justify-items: space-around;
}


button
{
    background-color: rgba(0, 0, 0, 0.265);
}

.nav-link
{
font-size: small;
}

.nav-item
{
margin-left: 30%;
}