.dropdowm-toggle,
.dropdown-item {
    cursor: pointer;
}

.navbar-brand
{
    font-family:cursive;
    font-weight: bolder;
}
.fa-fire-extinguisher
{
    color: rgb(244, 174, 186);
    font-size:x-large;
}